header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  header, footer {
    background: #8dbac5;
    color: rgb(14, 6, 122);
    padding: 16px;
  }
  
  #logo-header {
    font-size: 40px;
  }
  
  a {
    text-decoration: none;
    color: rgb(18, 134, 143);
  }
  
  main {
    background-color: #8dbac585;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  img {
    margin: 32px;
  }
  
  .rede-social {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
  }

  /* Aplicação das propriedades flex box */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li, .rede-social {
  margin-left: 48px;
}